aiocontextvars==0.2.2
asgiref==3.4.1
asyncpg==0.24.0
click==8.0.1
contextvars==2.4
databases==0.4.3
dataclasses==0.8
fastapi==0.68.0
gunicorn==20.1.0
h11==0.12.0
immutables==0.16
importlib-metadata==4.6.4
psycopg2-binary==2.9.1
pydantic==1.8.2
SQLAlchemy==1.3.24
starlette==0.14.2
typing-extensions==3.10.0.0
uvicorn==0.15.0
zipp==3.5.0
